.meus-pedidos-principal-container {
    width: 334px;
    background-color: #fffbfb;
    height: 300px;
}

.meus-pedidos-principal-container > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.meus-pedidos-principal-container > ul > li:first-child {
    font-weight: 700;
}

.meus-pedidos-principal-container > ul > li {
    font-weight: 500;
    font-size: 14px;
    width: 90%;
}

.meus-pedidos-principal-container > ul > li + li {
    padding-top: 1rem;
    border-top: 1.5px solid #d6d1d1;
}

.meus-pedidos-principal-container > ul > li.active-li {
    color: var(--primary);
    font-weight: 700;
}
