@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: #f9f8fe;
  }
  
  :root {
    /* Escala de cores coloridas */
    --cor-primary: #c92071;
    --cor-secondary: #b5b6f2;
    --cor-tertiary: #991956;
    --cor-error: #ee4266;
    --cor-sucess: #52ca76;
    --cor-warning: #f6aa1c;
    /* Escala de cinza */
    --cor-dark-gray: #1f1f1f;
    --cor-dark-gray-2: #474747;
    --cor-dark-gray-3: #666666;
    --cor-light-gray: #8f8f8f;
    --cor-light-gray-2: #cccccc;
    --cor-light-gray-3: #f5f5f5;
    --cor-white: #ffffff;
  }
  
.container {
    display: flex;
    margin: 40px;
    gap: 20px;
}

.container hr {
    width: 830px;
}

.minhas-informacoes {
    display: flex;
    justify-content:space-between;
    font-size: 14px;
    width: 830px;
    height: 22px;
}

.minhas-informacoes p {
    font-weight: 700;
    letter-spacing: 0.75px;
    align-items: center;
}

.nav-options {
    width: 334px;
    background-color: #fff;
    padding: 18px 30px 18px 30px;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* margin-top: 272px;
    margin-left: 99px; */
    max-height: 268px;

}

.nav-options p {
    margin: 17px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}

/* Minhas Informações */
.nav-options p:nth-child(5) {
    width: 153px;
    height: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75;
    color: var(--cor-primary);
}
    
    .nome, .CPF, .email, .celular, .endereco, .bairro, .cidade, .CEP {
        margin-bottom: 0.6rem;
    }

/* Meu Perfil */
.nav-options p:nth-child(1) {
    width: 77px;
    height: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75;
    align-items: center;
}

/* .nav-options p:active {
    color: var(--cor-primary)
} */

.nav-options hr {
    width: 274px; ;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 1.5%;
}
.informacoes {
    width: 890px;
    max-height: 466px;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    gap: 20px;
    /* margin-top: 272px; */
    /* margin-left: 50px; */
}
.informacoes h2 {
    font-size: 16px;
    margin-bottom: 20px;
    margin: 15px 0;
}
.informacoes p {
    margin: 5px 0;
    line-height: 1.5;
    font-size: 14px;
}

.edit-link {
    margin: 1% ;
    width: 86px;
    height: 22px;
    gap: 31px
}

.edit-link a {
    color: #d63384;
    font-size: 14px;
}

.informacoes-pessoais {
    font-size: 14px;
    width: 778px;
    height: 152px;
    gap: 10px
}

.title-informacoes {
    width: 778px;
    height: 24px;
    gap: 365px
}

.title-informacoes h2 {
    /* width: 187px;
    height: 24px; */
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    align-items: center;
}

.title-entrega {
    width: 778px;
    height: 24px;
    gap: 365px
}

.title-entrega h2 {
    /* width: 203px;
    height: 24px; */
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    align-items: center;
}

.informacoes-entrega {
    width: 778px;
    height: 152px;
    gap: 10px
}

.informacoes-entrega h2 {
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    align-items: center;
}

.nome {
    display: flex;
    gap: 10px;
    width: 233px;
    height: 22px;
}

.nome p:nth-child(1){
  color: var(--cor-light-gray);
  width: 45px;
  height: 22px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
}

.nome p:nth-child(2){
    color: var(--cor-dark-gray);
    width: 178px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25;
    align-items: center;
}

.CPF {
    display: flex;
    gap: 10px;
    width: 146px;
    height: 22px;
}

.CPF p:nth-child(1){
    color: var(--cor-light-gray);
    width: 33px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
  
.CPF p:nth-child(2){
      color: var(--cor-dark-gray);
      width: 103px;
      height: 22px;
      font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.25;
        align-items: center;
}

.email {
    display: flex;
    gap: 10px;
    width: 196px;
    height: 22px;
}

.email p:nth-child(1){
    color: var(--cor-light-gray);
    width: 37px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
  
.email p:nth-child(2){
      color: var(--cor-dark-gray);
      width: 149px;
      height: 22px;
      font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.25;
        align-items: center;

}

.celular {
    display: flex;
    gap: 10px;
    width: 170px;
    height: 22px;
}

.celular p:nth-child(1){
    color: var(--cor-light-gray);
    width: 49px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
  
.celular p:nth-child(2){
      color: var(--cor-dark-gray);
      width: 111px;
      height: 22px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.25;
      align-items: center;
}

.endereco {
    display: flex;
    width: 234px;
    height: 22px;
    gap: 10px;
}

.endereco p:nth-child(1){
    color: var(--cor-light-gray);
    width: 70px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
  
.endereco p:nth-child(2){
    color: var(--cor-dark-gray);
    width: 154px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25;
    align-items: center;
}

.bairro {
    display: flex;
    width: 102px;
    height: 22px;
    gap: 10px;
}

.bairro p:nth-child(1){
    color: var(--cor-light-gray);
    width: 45px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
  
.bairro p:nth-child(2){
      color: var(--cor-dark-gray);
      width: 47px;
      height: 22px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.25;
      align-items: center;
}

.cidade {
    display: flex;
    width: 177px;
    height: 22px;
    gap: 10px;
}

.cidade p:nth-child(1){
    color: var(--cor-light-gray);
    width: 53px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
  
.cidade p:nth-child(2){
      color: var(--cor-dark-gray);
      width: 114px;
      height: 22px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.25;
      align-items: center;
}

.CEP {
    display: flex;
    width: 115px;
    height: 22px;
    gap: 10px;
}

.CEP p:nth-child(1){
    color: var(--cor-light-gray);
    width: 33px;
    height: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
  
.CEP p:nth-child(2){
      color: var(--cor-dark-gray);
      width: 72px;
      height: 22px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.25;
      align-items: center;
}

